* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .08);
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.logo-green {
    color: #2E8B57;
}

.logo-dark {
    color: #333;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: .3s;
}

.nav-links a:hover {
    color: #2E8B57;
}

.nav-buttons {
    display: flex;
    gap: 12px;
}

.login-btn {
    border: 2px solid #2E8B57;
    background: white;
    color: #2E8B57;
    padding: 10px 22px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}

.login-btn:hover {
    background: #2E8B57;
    color: white;
}

.register-btn {
    background: #2E8B57;
    color: white;
    border: none;
    padding: 10px 22px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
}

.register-btn:hover {
    background: #236b44;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

@media(max-width:900px) {

    .nav-links {
        display: none;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        padding: 20px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
    }

    .nav-links.active {
        display: flex;
    }

    .nav-buttons {
        display: none;
    }

    .hamburger {
        display: block;
    }

}